* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid #4a4a8c; 
}

.number {
  height: 10vh;
  border: 2px solid #4a4a8c;
  border-radius: 15px;
  width: 80%;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  color: #4a4a8c;
  background-color: #e0e0f8;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.number:hover {
  transform: scale(1.1);
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn {
  padding: 15px 30px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 24px;
  background-color: #4a4a8c;}

.btn:hover {
  transform: scale(1.1);
  background-color: bisque;
}
.btn:active {
  transform: scale(0.9);
}